# Ignore Unity generated folders and files
/[Ss]ound [Oo]f [Dd]read/[Ll]ibrary/
/[Ss]ound [Oo]f [Dd]read/[Tt]emp/
/[Ss]ound [Oo]f [Dd]read/[Oo]bj/
/[Ss]ound [Oo]f [Dd]read/[Bb]uilds/
/[Ss]ound [Oo]f [Dd]read/[Ll]ogs/

# Ignore Visual Studio files
/[Ss]ound [Oo]f [Dd]read/.vscode/
/[Ss]ound [Oo]f [Dd]read/*.sln
/[Ss]ound [Oo]f [Dd]read/*.suo
/[Ss]ound [Oo]f [Dd]read/*.csproj
/[Ss]ound [Oo]f [Dd]read/.vs/

# Ignore Rider files
/[Ss]ound [Oo]f [Dd]read/.idea/

# Ignore user-specific files
/[Ss]ound [Oo]f [Dd]read/Assets/[Uu]ser[Ss]ettings/

# Ignore Unity3D generated meta files
/[Ss]ound [Oo]f [Dd]read/*.pidb.meta

# Ignore macOS system files
/[Ss]ound [Oo]f [Dd]read/.DS_Store

# Ignore Windows system files
/[Ss]ound [Oo]f [Dd]read/Thumbs.db
/[Ss]ound [Oo]f [Dd]read/ehthumbs.db
/[Ss]ound [Oo]f [Dd]read/Thumbs.db:encryptable
/[Ss]ound [Oo]f [Dd]read/ehthumbs.db:encryptable
/[Ss]ound [Oo]f [Dd]read/$RECYCLE.BIN/

# Ignore backup folders
/[Ss]ound [Oo]f [Dd]read/Backup*/
